<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>学号</th>
      <th>姓名</th>
      <th>课程</th>
      <th>综合成绩</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody ng-repeat="stu in list">
    <tr ng-repeat="course in stu.courses">
      <td rowspan="{{ stu.courses.length }}" ng-if="$first">
        {{ stu.id }}
      </td>
      <td rowspan="{{ stu.courses.length }}" ng-if="$first">
        {{ stu.name }}
      </td>
      <td>
        {{ course.name }}
      </td>
      <td rowspan="{{ stu.courses.length }}" ng-if="$first">
        {{ stu.score }}
      </td>
      <td rowspan="{{ stu.courses.length }}" ng-if="$first">
        <button ng-click="remove(stu)" class="btn btn-sm btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          删除
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div id="chart" style="width: 600px; height: 400px;"></div>